<section layout="column" flex flex-gt-md="150">
    <div flex-gt-md="120" layout="column" layout-align="center center">
        <div>
            <md-input-container>
                <label>Pretražite dokumente po njihovom sadržaju...</label>
                <input type="text" ng-model="vm.searchText"/>
            </md-input-container>
            <md-button class="md-raised" ng-click="vm.searchByText()">Traži</md-button>

            <md-input-container>
                <label>Unesite ključne reči pretrage...</label>
                <input type="text" ng-model="vm.searchTerm"/>
            </md-input-container>
            <md-button class="md-raised" ng-click="vm.searchByTerm()">Traži</md-button>
        </div>
        <div layout>
            Prikaži: &nbsp
            <md-radio-group layout ng-model="vm.statusTerm" ng-change="vm.onStatusChoice()">
                <md-radio-button value="" aria-label="all">
                    Sve akte
                </md-radio-button>
                <md-radio-button value="PENDING" aria-label="pending">
                    Akte u proceduri
                </md-radio-button>
                <md-radio-button value="ACCEPTED" aria-label="accepted">
                    Usvojene akte
                </md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <div id="allActs" flex-gt-md="120" layout="column" layout-align="center center">

    </div>
</section>