<div layout="column" layout-align="stretch center">
    <section layout layout-align="center center">
        <div id="votingAct" class="oneAct" flex="70" md-whiteframe="1" layout-padding layout-align="center center">

        </div>
    </section>

    <div>
        <div layout layout-align="center center">
            <form novalidate name="votesForm">
                <md-card flex layout="column">
                    <md-card-title>
                        <p class="md-headline">Unesite glasove za ovaj akt</p>
                    </md-card-title>
                    <md-content flex layout class="md-padding">
                        <md-input-container>
                            <label>Glasovi Za</label>
                            <input type="number" min="0" ng-model="vm.votes.numberOfFor"/>
                        </md-input-container>
                        <md-input-container>
                            <label>Glasovi Protiv</label>
                            <input type="number" min="0" ng-model="vm.votes.numberAgainst"/>
                        </md-input-container>
                        <md-input-container>
                            <label>Uzdržani</label>
                            <input type="number" min="0" ng-model="vm.votes.numberAbstained"/>
                        </md-input-container>
                    </md-content>

                    <md-card-actions flex layout="row" layout-align="end center">
                        <md-button ng-disabled="votesForm.$invalid" ng-click="vm.cancelAmendment()">Cancel</md-button>
                        <md-button type="submit" ng-click="vm.vote()" class="md-accent md-raised"
                                   ng-disabled="votesForm.$invalid">Submit
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </div>
</div>
