<div layout="column" layout-align="stretch center">
    <form novalidate name="newActForm" ng-if="vm.activeSession && vm.activeSession.status === 'ANNOUNCED'">
        <md-card flex layout="column">
            <md-card-title>
                <p class="md-headline">Create a new act</p>
            </md-card-title>
            <md-content flex layout="column" class="md-padding">
                <textarea rows="30" ng-model="vm.act" required style="resize: vertical;"></textarea>
            </md-content>

            <md-card-actions flex layout="row" layout-align="end center">
                <md-button type="submit" ng-click="vm.submitAct()" class="md-accent md-raised"
                           ng-disabled="newActForm.$invalid">Submit
                </md-button>
            </md-card-actions>
        </md-card>
    </form>

    <div flex ng-if="vm.activeSession && vm.activeSession.status !== 'ANNOUNCED'">
        <h1>There is no announced session.</h1>
    </div>

    <div flex ng-if="!vm.activeSession">
        <h1>There is no announced session.</h1>
    </div>
</div>
